* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
}

/* Custom scrollbars for Chrome */
::-webkit-scrollbar{
	width:0.625rem;
	background-color:#D9D2C8;
	border-radius:0.625rem;
}

::-webkit-scrollbar-thumb{
	border-radius:0.625rem;
	background-color:#2170de;
	box-shadow:0 0 0.4rem #433D3D;
}

a {
  text-decoration: none;
  color: #2170de;
}

.main-container {
  width: 90vw;
  margin: 0 auto;
  box-shadow: 0.25rem 0.25rem 0.625rem #6b6b75;
}

@media (max-width:768px) {
  .main-container {
    width: 100vw;
  }
}

/* ALL HEADERS */

header {
  width: 100%;
  height: auto;
  margin-top: 0;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto
  text-align: center;
  padding-bottom: 2rem;
}

.header-content {
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
}

.header-content h1 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 3.2rem;
}

.header-content h1 a {
  text-decoration: none;
  color: white;
}

.landing-header {
  position: relative;
  text-shadow: 0.125rem 0.125rem 0.2rem black;
  padding-top: 2rem;
}

.landing-header-bg {
  background: url('media/images/image-5.jpg');
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.25;
  width: 100%;
  height: 100%;
}

.landing-header-bg-blend {
  background-color: #333;
  position: absolute;
  z-index: -2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.page-buttons {
  text-align: center;
}

/*----------------------------------------------------------------------------All CARDS----------------------------------------------------------------------*/

.cards-container {
  display: block;
  width: 80vw;
  margin: auto;
  padding: 1rem;
}

@media (max-width:768px) {
  .cards-container {
    width: 95vw;
  }
}

@media (max-width:500px) {
  .cards-container {
    width: 100vw;
    padding: 0;
  }
}

.card-row {
  width: 100%;
  margin-bottom: 6rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

@media (max-width:940px) {
  .card-row {
    flex-direction: column;
  }
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 46%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width:940px){
  .card {
    width: 80vw;
  }
}

.card h2 {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: calc(1.5rem + (48 - 24) * ((100vw - 300px) / (2560 - 300)));
  color: #3d61ff;
  text-align: center;
}

.card-media iframe {
  width: 100%;
  height: calc(12.5rem + (500 - 200) * ((100vw - 300px) / (2560 - 300)));
}

.card-media img {
  width: 100%;
  height: calc(12.5rem + (500 - 200) * ((100vw - 300px) / (2560 - 300)));
  object-fit: cover;
}

.card-text {
  font-size: 1.5rem;
  text-align: left;
  padding-top: 0.8rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (max-width:768px) {
  .card-text {
    font-size: 1.3rem;
  }
}

.card-text h3 {
  color: #962626;
  padding-top: 1rem;
  padding-bottom: 0.2rem;
}

.card-text p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.card-text em {
  font-weight: normal;
}

.card-text .caption {
  color: #b31e14;
}

.card-text a {
  color: #2170de;
  transition: all 0.3s ease-in-out;
}

.card-text a:hover {
  color: #efbd47;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card-text a:hover em {
  border-bottom: white;
  color: #b31e14;
  transition: all 0.3s ease-in-out;
}

.card-text ul li {
  padding-top: 0.8rem;
  padding-bottom: 1rem;
}

.card-text ul li em {
  padding-right: 0.5rem;
  color: #efbd47;
}

.card-text ul {
  list-style: none;
}

/* page turn buttons */
.button {
  width: calc(6rem + (192 - 96) * ((100vw - 300px) / (2560 - 300)));
  height: calc(2rem + (64 - 32) * ((100vw - 300px) / (2560 - 300)));
  padding: 0.5rem 0.5rem;
  font-size: calc(1rem + (32 - 16) * ((100vw - 300px) / (2560 - 300)));
  border: thin solid #b31e14;
  text-decoration: none;
  margin: 1rem auto;
  background-color: #b31e14;
  color: white;
  border-radius: 0.5rem;
}

.button:hover {
  border: thin solid #6b6b75;
  text-decoration: none;
  background-color: #f2f2f2;
  color: #6b6b75;
  transition: smooth, 0.2s;
  cursor: pointer;
}

.button:focus {
  border: thin solid #c7ffde;
}

.button:active {
  border: thin solid #c7ffde;
}

.breadcrumbs {
  margin-bottom: 0.5rem;
}

/*--------------------------------------------------------------footer-----------------------------------------------------------------------------*/

footer {
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: #333;
  color: white;
}

.footer-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  text-align: center;
}

/*------------------------------------------------------------Nav Menu-------------------------------------------------------------------------*/

/* menu button */
.menu-btn-container {
  width: calc(3.5rem + (96 - 48) * ((100vw - 300px) / (2560 - 300)));
  height: calc(3rem + (96 - 48) * ((100vw - 300px) / (2560 - 300)));
  position: relative;
  border: none;
  box-shadow: 0.125rem 0.125rem 0.5rem #333;
  opacity: 0.9;
}

#show-menu {
  outline: none;
  border: none;
  background: #2170de;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#show-menu:hover {
  background: #47c98f;
}

#show-menu:focus {
  border: thin solid #c7ffde;
}

#show-menu:active em {
  background: white;
}

/* menu button burger icon transform animation. This code is an adaptation of the orginal by Jesse Couch sourced from at https://codepen.io/designcouch */
#show-menu em {
  position: absolute;
  left: 20%;
  height: 10%;
  width: 60%;
  background: white;
  border-radius: 0.5rem;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

#show-menu em:nth-child(1) {
  top: 25%;
}

#show-menu em:nth-child(2), #show-menu em:nth-child(3) {
  top: 45%;
}

#show-menu em:nth-child(4) {
  top: 65%;
}

#show-menu.open em:nth-child(1) {
  top: 45%;
  width: 0%;
  left: 50%;
}

#show-menu.open em:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#show-menu.open em:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#show-menu.open em:nth-child(4) {
  top: 45%;
  width: 0%;
  left: 50%;
}

#show-menu.open {
  background: #47c98f;
  /* transition: all 0.2s ease-in-out; */
}

#show-menu.open:hover {
  background: #5df0ae;
}

.nav-menu {
  position: fixed;
  left: 8%;
  top: 3%;
  width: 22rem;
}

@media (max-width:768px) {
  .nav-menu {
    left: 4%;
  }
}

@media (max-width:425px) {
  .nav-menu {
    width: 75vw;
  }
}

.menu-container {
  display: none;
  max-height: auto;
  margin-top: 0.2rem;
  background-color: rgba(30, 78, 156, 0.9);
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0.125rem 0.125rem 0.5rem #333;
}

/* media query to account for landscape mode */
@media (max-height:599px) {
  .menu-container {
    max-height: 250px;
    overflow-y: auto;
    background:
    /* The following scroll shadow code is a modification of the orginal by Roman Komarov http://kizu.ru/en/fun/shadowscroll/ and Lea Verou http://lea.verou.me/2012/04/background-attachment-local/
		/* Shadow covers */
		linear-gradient(rgba(30, 78, 156, 0.9) 30%, rgba(30, 78, 156, 0)),
		linear-gradient(rgba(30, 78, 156, 0), rgba(30, 78, 156, 0.9) 70%) 0 100%,
		/* Shadows */
		radial-gradient(50% 0, farthest-side, rgba(0,0,0,.5), rgba(0,0,0,0)),
		radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.5), rgba(0,0,0,0)) 0 100%;

    background:
		/* Shadow covers */
		linear-gradient(rgba(30, 78, 156, 0.9) 30%, rgba(30, 78, 156, 0)),
		linear-gradient(rgba(30, 78, 156, 0), rgba(30, 78, 156, 0.9) 70%) 0 100%,

		/* Shadows */
		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.5), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.5), rgba(0,0,0,0)) 0 100%;
	  background-repeat: no-repeat;
    background-color: rgb(30, 78, 156); /* Fallback color for MS edge and other incompatible browsers*/
	  background-color: rgba(30, 78, 156, 0.9);
	  background-size: 100% 2.5rem, 100% 2.5rem, 100% 1rem, 100% 1rem;
	  background-attachment: local, local, scroll, scroll;
  }
}

.nav-menu ul {
  list-style: none;
  font-size: calc(1.625rem + (52 - 26) * ((100vw - 300px) / (2560 - 300)));
}

.nav-menu ul li {
  transition: 0.4s;
}

.nav-menu ul li:hover {
  color: rgba(107, 107, 117, 1);
  background-color: white;
  text-indent: 0.5rem;
}

.nav-menu ul li a {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0;
  display: block;
  text-decoration: none;
  color: white;
  border-bottom: thin solid rgba(255, 255, 255, 0.1)
}

.nav-menu ul li a:hover {
  color: rgba(107, 107, 117, 1);
}

/*------------------------------------------------------------------- HOME PAGE ------------------------------------------------------------------------*/

.body-text {
  padding: 3rem;
  padding-top: 1rem;
  font-size: 1.5rem;
}

@media (max-width:510px) {
  .body-text {
    padding: 1.5rem;
    font-size: 1rem;
  }
}

.body-text h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.body-text h3 {
  margin-bottom: 0.5rem;
}

.body-text p {
  margin-bottom: 1rem;
  line-height: 2rem;
}

.video-container {
  text-align: center;
  margin-bottom: 1rem;
}

.video-container iframe {
  width: 39%;
  height: 332px;
}

@media (max-width:1024px) {
  .video-container iframe {
    width: 50%;
    height: 325px;
  }
}

@media (max-width:768px) {
  .video-container iframe {
    width: 60%;
    height: 300px;
  }
}

@media (max-width:550px) {
  .video-container iframe {
    width: 75%;
    height: 250px
  }
}

@media (max-width:425px) {
  .video-container iframe {
    width: 90%;
    height: 200px;
  }
}

/*------------------------------------------------------------------- RUBRIC PAGE ------------------------------------------------------------------------*/

.document-container {
  text-align: center;
}

/*------------------------------------------------------------------- INSTRUCTIONS PAGE ------------------------------------------------------------------------*/

.instructions-row {
  width
  margin-bottom: 6rem;
  padding: 0;
  border: thin solid rgba(92, 92, 92, 0.5);
}

/* OVERVIEW */
#overview-card {
  margin: 0;
  box-shadow: none;
  width: 100%;
  height: auto;
}

@media (max-width:940px) {
  #overview-card {
    margin-right: auto;
    margin-bottom: 0;
  }
}

#overview-card-lower-img {
  display: flex;
}

#overview-info {
  margin: 0;
  box-shadow: none;
  background-color: rgba(92, 92, 92, 0.5);
  width: 100%;
  height: auto;
}

@media (max-width:940px) {
  #overview-info {
    margin-left: auto;
    margin-top: 0;
  }
}

#overview-text {
  color:white;
}

#note {
  font-size: 1.2rem;
}

/* DESIGN */
#design-card {
  margin: 0;
  box-shadow: none;
  width: 100%;
  height: auto;
}

@media (max-width:940px) {
  #design-card {
    margin-right: auto;
    margin-bottom: 0;
  }
}

#design-info {
  margin: 0;
  box-shadow: none;
  background-color: rgba(92, 92, 92, 0.5);
  width: 100%;
  height: auto;
}

@media (max-width:940px) {
  #design-info {
    margin-left: auto;
    margin-top: 0;
  }
}

#design-text {
  color:white;
}

/* TIMELINE */
#timeline-card {
  margin: 0;
  box-shadow: none;
  width: 100%;
  height: auto;
}

@media (max-width:940px) {
  #timeline-card {
    margin-right: auto;
    margin-bottom: 0;
  }
}

#timeline-info {
  margin: 0;
  box-shadow: none;
  background-color: rgba(92, 92, 92, 0.5);
  width: 100%;
  height: auto;
}

@media (max-width:940px) {
  #timeline-info {
    margin-left: auto;
    margin-top: 0;
  }
}

#timeline-text {
  color:white;
}

/* PRESENTATION */
#presentation-card {
  margin: 0;
  box-shadow: none;
  width: 100%;
  height: auto;
}

@media (max-width:940px) {
  #presentation-card {
    margin-right: auto;
    margin-bottom: 0;
  }
}

#presentation-info {
  margin: 0;
  box-shadow: none;
  background-color: rgba(92, 92, 92, 0.5);
  width: 100%;
  height: auto;
}

@media (max-width:940px) {
  #presentation-info {
    margin-left: auto;
    margin-top: 0;
  }
}

#presentation-text {
  color:white;
}
